<ng-container [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Stars</mat-label>
    <mat-select formControlName="stars">
      <mat-option [value]="'>=0'">All</mat-option>
      <mat-option [value]="'0..100'">0..100</mat-option>
      <mat-option [value]="'101..1000'">101..1000</mat-option>
      <mat-option [value]="'>=1001'">>=1001</mat-option>
    </mat-select>
    <mat-hint>Filter by stars</mat-hint>
  </mat-form-field>
  <!--  <mat-checkbox formControlName="has_issues">Has Issues</mat-checkbox>-->
  <!--  <mat-checkbox formControlName="archived">Archived</mat-checkbox>-->
  <!--  <mat-checkbox formControlName="disabled">Disabled</mat-checkbox>-->
</ng-container>
