:host {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 6px;

  app-search-item {
    padding: 10px;
    border-bottom: 1px solid gray;
  }
}

.no-result, .loading {
  display: flex;
  width: 100%;
  font-size: 16px;
  line-height: 21px;
  color: gray;
  margin: 16px;
}
